<header class="header">
    <div class="container">
        <!-- NAVBAR SECTION -->
        <div class="row">
            <div class="col-sm-12">
                <nav class="navbar navbar-default">
                    <div class="container-fluid">
                      <!-- Brand and toggle get grouped for better mobile display -->
                      <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                          <span class="sr-only">Toggle navigation</span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="index.html">
                            <img src="./assets/images/logo.png" alt="LOGO" title="LOGO">
                        </a>
                      </div>
                  
                      <!-- Collect the nav links, forms, and other content for toggling -->
                      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        
                        <ul class="nav navbar-nav navbar-right">
                          <li><a href="#">feature</a></li>
                          <li><a href="#">support</a></li>
                          <li><a href="#">blog</a></li>
                        </ul>
                      </div><!-- /.navbar-collapse -->
                    </div><!-- /.container-fluid -->
                  </nav>
            </div>
        </div>
        <!-- TAB SECTION -->
        <div class="row">
            <div class="col-md-5 col-sm-6">
                <div class="inspire">
                    <h2 class="heading-primary">Inspire your inspiration</h2>
                    <h3 class="heading-sec">Simple to use for your app, products showcase and your inspiration</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum. Donec rutrum sed sem quis venenatis. Proin viverra risus a eros volutpat tempor. In quis arcu et eros porta lobortis sit 
                    </p>
                    <ul class="links">
                        <li><a href="javacript:;"> <i class="fab fa-apple"></i> </a></li>
                        <li><a href="javacript:;"> <i class="fab fa-android"></i> </a></li>
                        <li><a href="javacript:;"> <i class="fab fa-windows"></i> </a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-offset-2 col-md-5 col-sm-6">
                <img src="./assets/images/ipad.png" alt="Ipad" title="Ipad" class="ipadImg img-responsive">
            </div>
        </div>
    </div>
</header>