<!-- features section -->
<section class="features">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-1 col-md-10 text-center">
                <div class="featureHeading">
                    <h2 class="heading-primary">Tinyone features</h2>
                    <h3 class="heading-sec">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum. Donec rutrum sed sem quis venenatis.</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 closm-6 col-xs-12">
                <div class="myThumbanail">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fas fa-tablet-alt"></i>
                        </div>
                        <div class="col-xs-9">
                            <div class="thumbInfo">
                                <h3> Tinyone features</h3>
                                <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum. Donec rutrum sed sem quis venenatis. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 closm-6 col-xs-12">
                <div class="myThumbanail">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="far fa-lemon"></i>
                        </div>
                        <div class="col-xs-9">
                            <div class="thumbInfo">
                                <h3>Fully Responsive</h3>
                                <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum. Donec rutrum sed sem quis venenatis. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 closm-6 col-xs-12">
                <div class="myThumbanail">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="far fa-folder"></i>
                        </div>
                        <div class="col-xs-9">
                            <div class="thumbInfo">
                                <h3>Fully Layered PSD</h3>
                                <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum. Donec rutrum sed sem quis venenatis. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 closm-6 col-xs-12">
                <div class="myThumbanail">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="far fa-folder"></i>
                        </div>
                        <div class="col-xs-9">
                            <div class="thumbInfo">
                                <h3>Font Awesome Icons</h3>
                                <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum. Donec rutrum sed sem quis venenatis. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 closm-6 col-xs-12">
                <div class="myThumbanail">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fas fa-code"></i>
                        </div>
                        <div class="col-xs-9">
                            <div class="thumbInfo">
                                <h3>HTML3 & CSS3</h3>
                                <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum. Donec rutrum sed sem quis venenatis. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 closm-6 col-xs-12">
                <div class="myThumbanail">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="far fa-envelope"></i>
                        </div>
                        <div class="col-xs-9">
                            <div class="thumbInfo">
                                <h3>Email Template</h3>
                                <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum. Donec rutrum sed sem quis venenatis. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>